<div>
  <h1>¿Que te parece angular?</h1>
  <article>
    <h2>Angular 17: Un framework aún más potente y versátil</h2>
    <h3>Introducción:</h3>

    <p>
      Soy un desarrollador web con experiencia en diversos frameworks, y puedo
      decir con seguridad que Angular 17 me ha impresionado gratamente. Las
      nuevas características introducidas en esta versión lo convierten en una
      herramienta aún más poderosa y versátil para crear aplicaciones web
      modernas y escalables.
    </p>

    <ul>
      <li>
        Mejora en la sintaxis: La nueva sintaxis de plantillas de bloque
        facilita la escritura de código limpio y legible, lo que se traduce en
        un mejor mantenimiento y colaboración en proyectos.
      </li>
      <li>
        Rendimiento optimizado: Angular 17 ha experimentado mejoras
        significativas en el rendimiento, especialmente en la carga inicial de
        aplicaciones. Esto se debe en gran parte a la adopción de Vite como
        herramienta de bundling y al uso de esbuild para la minificación de
        código.
      </li>
      <li>
        Vistas diferibles: Esta nueva característica permite cargar de forma
        diferida las partes de una aplicación que no son visibles en la
        pantalla, lo que mejora aún más el rendimiento y la experiencia del
        usuario.
      </li>
      <li>
        SSR por defecto: La renderización del lado del servidor ahora está
        habilitada por defecto en Angular 17, lo que mejora el SEO y la
        accesibilidad de las aplicaciones.
      </li>
      <li>
        Soporte para TypeScript 4.7: Angular 17 ahora es compatible con la
        última versión de TypeScript, lo que significa que los desarrolladores
        pueden aprovechar las últimas características del lenguaje para escribir
        código aún más robusto y expresivo.
      </li>
    </ul>

    <h3>Conclusión:</h3>

    <p>
      Angular 17 es una actualización significativa que consolida su posición
      como uno de los frameworks JavaScript más populares para el desarrollo de
      aplicaciones web. Las nuevas características introducidas en esta versión
      lo hacen aún más potente, versátil y fácil de usar, lo que lo convierte en
      una excelente opción para proyectos de cualquier tamaño y complejidad.
    </p>
    @defer (on viewport){
        <app-comments></app-comments>
    }@placeholder {
        <p>Futuros comentarios</p>
    }@loading (){
        <p>Cargando comentarios ...</p>
    }
  </article>
</div>

<!-- <app-user></app-user> -->
